<style>
    @media(max-width:500px) and (orientation:portrait){
        .f-info{
            display: none !important;
        }
    }

    @media(max-width:800px) and (orientation:landscape){
        .f-info{
            /* width: 43.7rem;
            height:6.5rem !important; */
            display: none;
        }

        /* .faceB, .insraG, .linkedIn{
            text-decoration: none;
        }

        .f-info-socials i{
           font-size: 2rem !important;
            display:flex;
            justify-content: center;
            align-items:center;
        }

        .f-info-brand{
            font-size: 1.3rem;
            font-weight: 300;
            display:flex;
            justify-content: center;
            align-items:center;
        }

        .f-info-links{
            font-size: 0.8rem;
            margin-bottom: 0.7rem !important;
            display:flex;
            justify-content: center;
            align-items:center;
        } */
    }
</style>




<footer>
    <div class="f-info">
        <div class="f-info-socials mt-2">
            <a href="/#" class="faceB"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/#" class="insraG"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="/#" class="linkedIn"><i class="fa-brands fa-linkedin"></i> </a>
        </div>
        <div class="f-info-brand" ><b class="boldB">&copy;StayVerse Private Limited</b></div>
        <div class="f-info-links">
            <b class="boldC"><a href="/privacy">Privacy</a></b>&nbsp; &nbsp;
            <b class="boldC"><a href="/terms">Terms</a></b>
        </div>
    </div>
</footer>