
<style>
    @media(max-width:768px) and (orientation:portrait){
        .explore, .navbar-toggler{
            display: none;
        }

        .container-fluid{
            display: flex;
            /* align-items: center;
            align-items: center;
            justify-content: center; */
        }

        .fa-compass{
            margin-left: 10px;
            font-size: 3.7rem;
        }

        .text{
            margin-left: 5rem !important;
        }

        .buttonTog, .searchBar{
            display: none !important;
        }

        .buttonTogler{
            display: flex;
        }

        .navbar{
            height: 5.5rem;
            
        }
    }

    .searchBar{
        margin-right: 25rem;
    }
</style>

  <nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
        <!-- Left Side: Brand Logo -->
        <a class="navbar-brand " href="/listings">
          <i class="fa-sharp fa-regular fa-compass"></i>
        </a>
        &nbsp;
        <a class="navbar-brand explore" href="/listings">Explore</a>

        <a class="nav-link me-3 text" href="/listings/new">Airbnb</a>

        <!-- Toggle Button for Mobile View -->
        <button class="navbar-toggler buttonTog" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse justify-content-center searchBar" id="navbarNavAltMarkup">
            <!-- Middle: Search Bar -->
            <form class="d-flex mx-auto" role="search" style="width: 40%;" action="/listings/search">
                <input class="form-control me-2 searchInput" type="search" placeholder="Search destinations" name="search">
                <button class="btn searchBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
            </form>
        </div>

        <!-- Right Side: Airbnb your home & User Menu -->
        <div class="d-flex align-items-center buttonTogler">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fa-solid fa-bars" style="font-size: 28px;"></i>
                </a>
                
                <ul class="dropdown-menu dropdown-menu-end">
                    <% if (!currUser) { %>
                      <li><a class="dropdown-item" href="/signUp"><b>Sign Up</b></a></li>
                      <li><a class="dropdown-item" href="/login"><b>Login</b></a></li>
                    <% } %>
                    <% if (currUser) { %>
                        <li><a class="dropdown-item" href="/logout"><b>Logout</b></a></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</nav>