<% layout("/Layout/boilerplate.ejs")%>

<style>
  .container {
    margin: 0;
  }

  /* .navbar {
    display: none;
  } */

  .img {
    height: 43rem;
    width: 100rem;
  }

  footer {
    display: none;
  }

  .alert-danger {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>

<%if(message && message=="Page not found!!"){%>
<img
  class="img"
  src="https://media1.tenor.com/m/U5hmONvZGo8AAAAd/mmt-error-error.gif"
  alt="errorImg"
/>

<%}else{%>
<div class="row error">
  <div class="alert alert-danger col-6 offset-3" role="alert">
    <h4 class="alert-heading"><%=message%></h4>
  </div>
</div>
<%}%>
