
<%layout("/Layout/boilerplate.ejs")%>

<style>
     @media(max-width:500px) and (orientation:portrait){
        .card-img-top{
            border-radius: 1.2rem !important;
            height:10rem !important;
            max-width: 100% !important;
            object-fit: cover !important;
           
        }
    
        .boldTitle, .boldPrice, .GST{
            font-size: 1rem;
            font-weight: 700 !important;
        }

        .listing-link{
            height:8rem;
            width: 10rem;
            margin-bottom: 7rem !important;
        }

        .bebo{
            display: flex !important;
            flex-wrap: wrap !important;
            justify-content: space-evenly;
            position: absolute;
            top: 15rem;
            bottom:5rem;
            margin-right: 20px;
            /* gap: 2rem !important; */
        }

        .rightAngle{
            height: 55px;
            width: 55px;
            position: absolute;
            left:19rem;
            border-radius: 50%;
        }
        
        .listing-card {
            height: 15rem !important;
            width:10rem !important;
            /* margin-bottom: 3rem !important;    */
            /* gap: 3rem !important; */
        }

        .tax-toggle{
            top:11.3rem
        }

        .filters-container{
            margin: 3.5rem 0 0 0;
        }
    }
</style>

<div id="filters-container">
    <div id="filters">

        <div class="leftAngle">
            <i class="fa-solid fa-angles-left"></i>
        </div>

        <div class="filters ">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Empty</p>
        </div>


        <div class="filters ">
            <div><i class="fa-solid fa-fire"></i></div>
            <p>Trending</p>
        </div>

        <div class="filters ">
            <div><i class="fa-solid fa-bed"></i></div>
            <p>Rooms</p>
        </div>

        <div class="filters ">
            <div><i class="fa-solid fa-mountain-city"></i></div>
            <p>Iconic cities</p>
        </div>

        <div class="filters ">
            <div><i class="fa-solid fa-mountain-sun"></i></div>
            <p>Mountain</p>
        </div>



        <div class="filters">
            <div><i class="fa-solid fa-person-swimming"></i></div>
            <p>Pools</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-house"></i></div>
            <p>Cabins</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-snowflake"></i></div>
            <p>Arctic</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-cow"></i></div>
            <p>Farms</p>
        </div>

        <div class="filters">
            <div><i class="fa-solid fa-umbrella-beach"></i></div>
            <p>Beach</p>
        </div>
        
        <div class="rightAngle">
            <i class="fa-solid fa-angles-right"></i>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="tax-toggle">
    <div class="form-check-reverse form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
        <label class="form-check-label" for="flexSwitchCheckDefault">All Taxes</label>
    </div>
</div>


<body>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-md-1 mt-3  bebo">
        <% for(listing of listings){ %>
            <a href="/listings/<%=listing._id%>" class="listing-link">
                <div class="card col listing-card">
                    <img src="<%=listing.image.url%>" class="card-img-top" alt="listing_image" style="height: 20rem;">
                    <!-- <div class="card-img-overlay"></div> -->
                    <div class="card-body">
                      <p class="card-text">
                        <b class="boldTitle"><%=listing.title%></b><br>
                        <b class="boldPrice">&#8377;<%= (listing.price != null ? listing.price.toLocaleString("en-IN") : "N/A")%>/Night</b>
                        <i class="boldPrice GST">&nbsp; &nbsp; &nbsp; &nbsp; +18% GST</i>
                      </p>
                    </div>
                </div>
            </a>
        <%}%>
    </div>
    <script>
        let taxSwitch = document.getElementById("flexSwitchCheckDefault");
        taxSwitch.addEventListener("click", () => {
            //console.log("Button was clicked");
            let taxtInfo = document.getElementsByClassName("GST");
            //console.log(taxtInfo)
            for(info of taxtInfo){
                if(info.style.display != "inline"){
                    info.style.display = "inline";
                }else{
                    info.style.display = "none";
                }
            }
        });


        let rightAngle = document.querySelector(".rightAngle");
        let leftAngle = document.querySelector(".leftAngle");

        let allIcons = document.getElementById("filters");
        
        rightAngle.addEventListener("click", () => {
            // console.log("hello");
            
            allIcons.scrollBy({left:-150, behavior:"smooth"});
        });

        leftAngle.addEventListener("click", () => {
            //console.log("hello");
            allIcons.scrollBy({left:150, behavior:"smooth"});
        })
    </script>
</body>
