
<% layout("/Layout/boilerplate.ejs")%>

<style>
    @media(max-width:500px) and (orientation:portrait){
       

       .newPage{
            margin:0 1rem 0 2.5rem !important;
            width:19rem !important;
            padding: 0;
       }
    }
</style>


<body>
    <div class="row container">
        <div class="col-7 offset-2 mb-3 newPage">
            <h2 class="mt-3 mb-4">Create New Listing: </h2>
            <form method="POST" action="/listings/post" class="needs-validation" novalidate enctype="multipart/form-data">
                <div class="mb-2">
                    <label for="title" class="form-label">Title:</label>
                    <input type="text" id="title" name="listing[title]" placeholder="Enter your title" class="form-control" required>
                    <div class="valid-feedback">Title looks good!!</div>
                    <div class="invalid-feedback">Enter a suitable Title.</div>
                </div>
                
                <div class="mb-2">
                    <label for="description" class="form-label">Describe your place:</label>
                    <textarea id="description" name="listing[description]" placeholder="Enter your description" rows="3", cols="30" class="form-control" required></textarea>
                    <div class="invalid-feedback">Please enter a short description!!</div>
                </div>
                
                
                
                <div class="mb-2">
                    <label for="image" class="form-label">Upload image:</label>
                    <input type="file" id="image" name="listing[image]" placeholder="Enter your Image/url" class="form-control">
                </div>
                
                <div class="mb-2">
                    <label for="location" class="form-label" >Location:</label>
                    <input type="text" id="location" name="listing[location]" placeholder="Enter your location" class="form-control" required>
                    <div class="invalid-feedback">Location should be valid</div>
                </div>

                <div class="row mb-4">
                    <div class="col-md-4">
                        <label for="price" class="form-label">Price:</label>
                        <input id="price" name="listing[price]" placeholder="Enter your price" class="form-control" required>
                        <div class="invalid-feedback">Price should be valid</div>
                    </div>
                    &nbsp; &nbsp; &nbsp; 
                    &nbsp; &nbsp; &nbsp; 
                    &nbsp; &nbsp; &nbsp; 
                    <div class=" col-md-6">
                        <label for="country" class="form-label" >Country:</label>
                        <input type="text" id="country" name="listing[country]" placeholder="Enter your country" class="form-control" required>
                        <div class="invalid-feedback">Country should be valid</div>
                    </div>
                </div>
                <button class="btn btn-outline-success" class="mb-3 mt-3">Create</button>
            </form>
        </div>
    </div>
</body>
