@media(max-width:500px) and (orientation:portrait){
    .card-img-top{
        border-radius: 1.2rem !important;
        height:8rem !important;
        width:8.5rem !important;
        object-fit: cover !important;
    }


    .boldTitle, .boldPrice, .GST{
        font-size: 1rem;
        font-weight: 700 !important;
    }

    .listing-link{
        height:8rem;
        width: 10rem;
        margin-bottom: 7rem !important;
    }

    .bebo{
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center;
        justify-content: space-around;
        position: absolute;
        top: 16.5rem;
        bottom:5rem;
        margin-right: 10px;
    }



    .rightAngle{
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: -8.5rem;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
    }
    
    .leftAngle{
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        position: absolute;
        left:0.1rem;
    }

    .listing-card {
        height: 15rem !important;
        width:10rem !important;
    }

    .tax-toggle{
        top:13rem;
    }

    .filters-container{
        margin: 3.5rem 0 0 0;
    }

    .searchMob{
        width: 10rem !important;
        height: 1.8rem;
        font-size: 15px !important;
        padding: 0 0 0 1rem !important;
        margin-top: 1rem;
        margin-left: 3rem;
    }

    .searchI{
        display: inline;
        margin-top: 2rem;
    }

    .searchBtn{
        color: white;
        background-color: red;
        border-radius: 30px;
        width: 5.6rem !important;
        height: 1.8rem !important;
        margin-top: 1rem;
        font-size: 15px;
        padding: 0 0.3rem 0 0 !important;
    }

    .cat{
        display: none;
    }
}

@media(max-width:800px) and (orientation:landscape){

    .container{
        width: 50rem;
        margin-right: 5rem;
        margin-left: 1rem;
    }

    .card-img-top{
        border-radius: 1.2rem !important;
        height:12rem !important;
        width:12.5rem !important;
        object-fit: cover !important;
       
    }

    .boldTitle, .boldPrice, .GST{
        font-size: 1rem;
        font-weight: 700 !important;
    }

    .listing-link{
        height: 18rem !important;
        width:10rem !important;
        margin-bottom: 3rem;
    }

    .bebo{
        display: flex !important;
        flex-wrap: wrap !important;
        justify-content: center;
        justify-content: space-between;
        position: absolute;
        top: 15rem;
        bottom:5rem;
        margin-right: 3rem;
        width: 39rem;
    }

    .rightAngle{
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        position: absolute;
        left:38rem;
        border-radius: 50%;
    }
    
    .leftAngle{
        height: 45px;
        width: 45px;
        display: flex;
        justify-content: center;
        position: absolute;
        left:0.1rem;
    }

    .listing-card {
        height: 18rem !important;
        width:10rem !important;
        margin-bottom: 3rem;
    }

    .tax-toggle{
        top:12rem
    }

    #filters-container{
        width: 41rem !important;
    }


    .card-body{
        margin-bottom: 1rem;
    }

    .filters{
        margin-right: 0.4rem;
        margin-left: 0.3rem;
    }

    .searchMob{
        width: 15rem !important;
        height: 2.4rem;
        font-size: 20px;
        padding: 0 0 0 0.7rem !important;
        margin-top: 1rem;
        margin-left: 10rem;
    }

    .searchI{
        display: inline;
        margin-top: 2rem;
    }

    .searchBtn{
        color: white;
        background-color: red;
        border-radius: 30px;
        width: 6.5rem;
        height: 2.4rem;
        margin-top: 1rem;
    }

    .cat{
        display: none;
    }
}

.iconColor{
    color: black;
    text-decoration: none;
}