body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  font-size: 20px !important;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.card-img-overlay .boldH {
  font-weight: 650 !important;
}

.boldP {
  font-weight: 475 !important;
}

.container {
  flex: 1;
}

/* .navbar */

.navbar {
  height: 5rem;
  background-color: rgb(250, 244, 244);
}

.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}

.navbar .form-control {
  width: 100%;
}

.navbar .dropdown-menu {
  right: 0;
  left: auto;
}

.fa-bars {
  opacity: 0.8;
  cursor: pointer;
}

.fa-bars:hover {
  opacity: 1;
}

/* Footer Styling */

.f-info-links {
  margin-bottom: 10px;
}

.f-info-links a {
  color: #111111;
  text-decoration: none;
  font-size: 1.25rem;
  opacity: 0.8;
  color: #111111;
}

.f-info-brand {
  color: #111111e1;
  font-size: 1.55rem;
  opacity: 1;
  /* //font-weight: 300 !important; */
}

.f-info-links,
.f-info-socials,
.f-info-brand {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.f-info-socials i {
  font-size: 2rem;
  margin-right: 1.1rem;
  background-color: white;
  color: #181818;
  opacity: 0.8;
}

.boldB {
  font-weight: 600 !important;
}

.boldC {
  font-weight: 600 !important;
}

.f-info-links a:hover {
  text-decoration: underline;
  color: black;
  opacity: 0.9;
}

.f-info {
  text-align: center;
  height: 8rem;
  background-color: #dddada;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: space-evenly;
}

/* navbar */

.listing-card {
  border: none !important;
  margin-bottom: 4rem;
}

.sizeFit {
  height: 20rem;
}

.card-img-top {
  border-radius: 1.2rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body {
  padding: 0 !important;
}

.card-text {
  font-weight: 400 !important;
}

.indexP {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listing-link {
  text-decoration: none;
}

.bebo {
  height: 15rem;
}

.card-img-overlay {
  opacity: 0;
}

.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}

.btn {
  border: none;
}

.show-img {
  height: 26.5rem;
  width: 47rem !important;
}

.btns {
  display: flex;
  margin-left: 285px;
}

.deleteBtn {
  margin-left: 1.5rem !important;
}

/* Index.ejs */
.boldTitle {
  font-weight: 600 !important;
}
.boldPrice {
  font-weight: 500 !important;
}

.likeBtn {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.likeBtn i {
  font-size: 1.8rem;
  color: black;
  transition: color 0.2s;
}

.likeBtn i.fa-solid {
  color: red;
}

/* Map Styling */

#map {
  height: 400px;
  width: 750px;
  margin-bottom: 5rem;
}
