body{
    font-family:  "Montserrat", serif !important;
    font-weight: 500 !important;
    font-size: 20px !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.boldH{
    font-weight: 700 !important;
}

.boldP{
    font-weight: 475 !important;
}

.container{
    flex: 1;
}

.navbar {
    height:4.6rem;
    background-color: rgb(238, 237, 237);
}

.fa-compass {
    color:#fe424d;
    font-size:2rem
}
.nav-link{
    color:#222222 !important;
}

.f-info-links a{
    color:#111111;
    text-decoration: none;
    font-size: 1.25rem;
    opacity:0.8;
    color:#111111;
}

.f-info-brand{
    color:#111111e1;
    font-size: 1.55rem;
    opacity:1;
    /* //font-weight: 300 !important; */
}

.f-info-links, .f-info-socials, .f-info-brand{
    width:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}


.f-info-socials i{
    font-size: 2rem;
    margin-right:1.1rem;
    background-color: white;
    color: #181818;
    opacity: 0.8;
}
.boldB{
    font-weight: 600 !important;
}

.boldC{
    font-weight: 600 !important;
}


.f-info-links a:hover{
    text-decoration: underline;
    color:black;
    opacity: 0.9;
}

.f-info{
    text-align: center;
    height:6.3rem;
    background-color: #dddada;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;
}


.listing-card{
    border:none !important;
    margin-bottom:2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width:100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text{
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.btn{
    border:none
}

.show-img{
    height:55vh;
}

.btns{
    display:flex;
    margin-left: 285px;
}

.deleteBtn{
    margin-left:2rem
}


.fa-bars{
    opacity:0.8;
}

.ms-auto{
    position: relative !important;
    left:45rem !important;
    
} 

.fa-bars:hover{
    opacity:1;
}