<% layout("/Layout/boilerplate.ejs")%>

<style>
    @media(max-width:500px) and (orientation:portrait){
       .loginPage{
            margin:2.5rem 1rem 4rem 2rem !important;
            width:19rem !important;
            padding: 0;
       }
    }

    @media(max-width:800px) and (orientation:landscape){
       .loginPage{
            margin:2rem 1rem 2rem 2rem !important;
            width:30rem !important;
            padding: 0;
       }
    }

</style>

    <div class="row">
        <div class="col-6 offset-3 mt-4 loginPage">
            <h1>Login on StayVerse</h1>
            <hr>
            <form method="POST" action="/login" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="username" class="form-label">Username : </label>
                    <input type="text" id="username" name="username" placeholder="Enter your username" class="form-control" required>
                </div>
                <div class="mb-4">
                    <label for="password" class="form-label">Password : </label>
                    <input type="password" id="password" name="password" placeholder="Enter your password" class="form-control" required>
                </div>
                <button class="btn btn-outline-success">Login</button>
            </form>

            <hr />
            <h3><a href="/auth/google">Sign Up with Google</a></h3>

            <br><hr>

            <p>
                Looks like you're not signed in. Please sign in first to continue -> 

                <form action="/signUp">
                    <button class="btn btn-outline-success">Sign in</button>
                </form>
            </p>
        </div>
    </div>