<% layout("/Layout/boilerplate.ejs")%>

<div class="row">
  <div class="col-6 offset-3 mt-4 signUpPage">
    <h1 class="signHeading">SignUp on StayVerse</h1>
    <hr />
    <form method="POST" action="/signUp" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label fw-semibold">Username : </label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="e.g. Nishu Parsad"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid Username.</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label fw-semibold">Email : </label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="nishu@gmail.com"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid Email.</div>
      </div>

      <div class="mb-3">
        <label for="gender" class="form-label fw-semibold">Gender: </label>
        <select name="gender" id="gender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="others">Others</option>
          <!-- <div class="invalid-feedback">Enter a valid Email.</div> -->
        </select>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label fw-semibold">Password : </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a stronger password.</div>
      </div>

      <div class="mb-3">
        <label for="about" class="form-label fw-semibold">About: </label>
        <textarea
          type="text"
          id="about"
          name="about"
          placeholder="Tell us more about your self that helps others to know about you..."
          class="form-control"
          rows="3"
          cols="20"
        ></textarea>
      </div>

      <button class="btn btn-outline-success">SignUp</button>
    </form>
    <hr />
    <h3><a href="/auth/google">Sign Up with Google</a></h3>
  </div>
</div>
