<% layout("/Layout/boilerplate.ejs")%>

<style>
  .googleLogin {
    text-decoration: none !important;
    color: #222;
    font-size: 1.35rem;
    font-weight: 400;
  }

  .boxLogin {
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid black 1px;
    border-radius: 10px;
  }

  .loginTitle {
    font-weight: 450;
    color: #222;
    font-size: 1.8rem;
  }

  .navbar {
    display: none;
  }

  .loginText {
    font-family: "Roboto Condensed", sans-serif !important;
  }

  .directSign {
    text-decoration: none !important;
    font-weight: 450;
  }

  .fix2 {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 2.3rem;
    font-weight: 500;
    color: #222;
    text-decoration: none;
    margin-top: 1rem;
    color: #fe424d;
  }
</style>

<div class="row loginText">
  <div class="col-4 fix">
    <a class="fix2" href="/listings">
      <i class="fa-sharp fa-regular fa-compass"></i> &nbsp;&nbsp;StayVerse
    </a>
  </div>

  <div class="col-5 mt-3 loginPage">
    <p class="loginTitle">Create an account to wander on StayVerse</p>
    <div class="boxLogin">
      <a href="/auth/google" class="googleLogin"
        ><i class="fa-brands fa-google"></i> &nbsp;&nbsp;&nbsp; Continue with
        Google</a
      >
    </div>
    <p style="text-align: center; font-size: 1.5rem">or</p>

    <form method="POST" action="/signUp" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="username" class="form-label">Username : </label>
        <input
          type="text"
          id="username"
          name="username"
          placeholder="e.g. Nishu Parsad"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid Username.</div>
      </div>

      <div class="mb-3">
        <label for="email" class="form-label">Email : </label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="nishu@gmail.com"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a valid Email.</div>
      </div>

      <div class="mb-3">
        <label for="gender" class="form-label">Gender: </label>
        <select name="gender" id="gender" class="form-control">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="others">Others</option>
          <!-- <div class="invalid-feedback">Enter a valid Email.</div> -->
        </select>
      </div>

      <div class="mb-3">
        <label for="password" class="form-label">Password : </label>
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Enter your password"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Enter a stronger password.</div>
      </div>

      <div class="mb-3">
        <label for="about" class="form-label fw-semibold">About: </label>
        <textarea
          type="text"
          id="about"
          name="about"
          placeholder="Tell us more about your self that helps others to know about you..."
          class="form-control"
          rows="3"
          cols="20"
        ></textarea>
      </div>

      <button class="btn btn-outline-success mb-5">SignUp</button>
    </form>
  </div>
</div>
